In [2]:
#Print 0 to 20 by using range
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
#Print range 10 to 20
for i in range(10,20):
    print(i,end=' ')

10 11 12 13 14 15 16 17 18 19

In [4]:
#Print number of items in the list by using 'len'
list2=[10, 20, 14, 55, 43, 87, 76]
print(list2)
length=len(list2)
print("Number of item in the List2:",length)

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [5]:
string="Artificial Intelligence"
print(string)
for char in string:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [1]:
name=str(input("Your Name:"))
print("Your Name:",name)
age=int(input("Your Age:"))
print("Your Age:",age)
profession=str(input("Your Profession:"))
print("Your Profession:",profession)

Your Name: Priyan

Your Name: Priyan

Your Age: 31

Your Age: 31

Your Profession: Sr.Test engineer

Your Profession: Sr.Test engineer

In [8]:
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [10]:
# Print this mixered datatype using Tuples
tup2=(0, 1, 2, 3)
print(tup2,('python', 'HOPE'))

(0, 1, 2, 3) ('python', 'HOPE')

In [13]:
# print Odd Numbers in the list 
tup3=(20,10,16,19,25,1,276,188)
for num in tup3:
    if((num%2)==1):
        print(num, "is odd")

19 is odd
25 is odd
1 is odd

In [14]:
# print Even numbers in the list 
tup4=(20,10,16,19,25,1,276,188)
for num in tup3:
    if((num%2)==0):
        print(num, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even