In [1]:
#Print statement
print("HOPE AI")

HOPE AI

In [22]:
#Input
institute_name=str(input("Enter your institute name?:"))
print("Enter your institute name?:",institute_name)

Enter your institute name?: HOPE AI

Enter your institute name?: HOPE AI

In [23]:
#Inputs
name=str(input("Enter your name:"))
print("Enter your name:",name)
age=int(input("Enter your age:"))
print("Enter your age:",age)
school=str(input("Enter your school name:"))
print("Enter your school name:",school)
degree=str(input("Enter your degree:"))
print("Enter your degree:",degree)

Enter your name: Priyan

Enter your name: Priyan

Enter your age: 31

Enter your age: 31

Enter your school name: GHSS

Enter your school name: GHSS

Enter your degree: BE.,

Enter your degree: BE.,

In [7]:
#Addition
a=43
b=34
add=a+b
print(f"""a= {a}
b= {b}
add= {add}""")

a= 43
b= 34
add= 77

In [9]:
#Subtraction
a=43
b=34
sub=a-b
print(f"""a= {a}
b= {b}
sub= {sub}""")

a= 43
b= 34
sub= 9

In [10]:
#Multiplication
a=63
b=97
mul=a*b
print(f"""a= {a}
b= {b}
mul= {mul}""")

a= 63
b= 97
mul= 6111

In [18]:
#Division
import math
a=76
b=31
div=a/b
print(f"""a= {a}
b= {b}
Float Div= {div}""")

a= 76
b= 31
Float Div= 2.4516129032258065

In [19]:
#Floor Division
import math
a=76
b=31
div=math.floor(a/b)
print(f"""a= {a}
b= {b}
Floor Div= {div}""")

a= 76
b= 31
Floor Div= 2

In [20]:
#Modulo
a=76
b=31
modulo=a%b
print(f"""a= {a}
b= {b}
Modulo= {modulo}""")

a= 76
b= 31
Modulo= 14

In [ ]:
#Power
a=4
b=4
modulo=a**b
print(f"""a= {a}
b= {b}
Power= {modulo}""")